

.footer{
    background-color: black;
    display: flex;
    
}

.footer h3{
    padding: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
}
.footer-end{
    display: flex;
    flex-direction: row;
    margin-left: 1200px;
    margin-bottom: 10px;
    padding: 5px;
    gap: 10px;
    font-weight: 100;
    font-size: 15px;
}

@media screen and (max-width: 768px){
    .footer-end{
        margin-left: 500px;
        font-size: 8px;
        margin-bottom: 0px;
        padding: 0px;
    }
}

